name: Development

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  tests:
    strategy:
      matrix:
        python: ["3.10"]
    uses: ./.github/workflows/testing.yml
    with:
      python: ${{ matrix.python }}

  quality:
    strategy:
      matrix:
        python: ["3.10"]
    uses: ./.github/workflows/quality.yml
    with:
      python: ${{ matrix.python }}

  build-and-push-container:
    # Only build if the PR branch is local
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Store/retrieve build caches
        id: cache-buildah
        uses: actions/cache@v4
        with:
          path: /var/tmp/buildah-cache-*
          key: buildah-mount-cache-${{ runner.os }}-${{ runner.arch }}
      - name: Buildah build
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ github.event.repository.name }}
          build-args: |
            GUIDELLM_BUILD_TYPE=dev
          tags: "pr-${{ github.event.number }}"
          layers: true
          containerfiles: |
            ./Containerfile
      - name: Push To ghcr.io
        id: push-to-ghcr
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
          registry: ghcr.io/${{ github.repository_owner }}
